{% extends "_layout.html" %}
{% block title %}Distribution Report{% endblock title %}
{% block content %}

<h2>Products by Rating</h2>
<img src="distribution_products_by_rating.svg" alt="">
<h2>Products by Orders</h2>
<img src="distribution_products_by_orders.svg" alt="">
<h2>Products by Price</h2>
<img src="distribution_products_by_price.svg" alt="">
<h2>Products by Shipping Fee</h2>
<img src="distribution_products_by_shipping_fee.svg" alt="">
<h2>Stores by Rating</h2>
<img src="distribution_stores_by_rating.svg" alt="">
<h2>Stores by Positive Rating</h2>
<img src="distribution_stores_by_rating45_count.svg" alt="">
<h2>Stores by Negative Rating</h2>
<img src="distribution_stores_by_rating12_count.svg" alt="">
<h2>Stores by Neutral Rating</h2>
<img src="distribution_stores_by_rating3_count.svg" alt="">
<h2>Revenue by Rating</h2>
<img src="distribution_revenue_by_rating.svg" alt="">
<h2>Revenue by Price</h2>
<img src="distribution_revenue_by_price.svg" alt="">
<h2>Orders by Price</h2>
<img src="distribution_orders_by_price.svg" alt="">
{% endblock content %}
